<section id="frontpage">
  <article id="presentation">

  <section class="media">
	<!--<a class="pull-left" href="#">
      		<img class="media-object" alt="identify" src="/assets/user-front.png">
	</a>
    	<div class="media-body">
      		<h3 class="media-heading">
        		Hello World FI-LAB App
      		</h3>
        	An Empty FI-LAB App made in <a href="http://www.rubyonrails.com" target="new"><strong>Ruby on Rails</strong></a>.
     	</div>-->
     	<div id="content">
		<div class="title">Virtual Machines</div>
		<!--<hr>
		<%= @attributesRegionsVMs.to_a%>-->
		
		<DIV ID='current'>
		  
			<DIV CLASS='row-current row-header'>
				<DIV CLASS='field field-header field-header-region'>Region</DIV>
				<DIV CLASS='field field-header field-header-id'>Id</DIV>
				<DIV CLASS='field field-header field-header-field'>Cpu Load</DIV>
				<DIV CLASS='field field-header field-header-field'>Ram Memory</DIV>
				<DIV CLASS='field field-header field-header-field'>Disk</DIV>
				<DIV CLASS='field field-header field-header-field'>Processes</DIV>
			</DIV>

			<% @attributesRegionsVMs.each do |key,value|
			    if key != nil && value != nil
			    
			%>
			
			  <DIV ID='current-group-<%= key%>' CLASS='row-current row-group'>
				  <DIV CLASS='field field-group field-group-expand' onClick='toggleGroup(this)'>
					  <IMG CLASS='field-group-expand-icon sprite expand' SRC='/assets/infographic/blank.gif'>
				  </DIV>
				  <DIV CLASS='field field-group field-group-region'><%= key%></DIV>
				  <DIV CLASS='field field-group field-group-id'></DIV>
				  <DIV CLASS='field field-group field-group-field'></DIV>
				  <DIV CLASS='field field-group field-group-field'></DIV>
				  <DIV CLASS='field field-group field-group-field'></DIV>
			  </DIV>
			  <DIV ID='current-services-<%= key%>' CLASS='collapsed'>
				  <% value.each do |keySub,valueSub|
				      if keySub != nil && valueSub != nil
				      
				  %>
				  
				    <DIV CLASS='row-current row-service'>
					    <DIV CLASS='field field-service field-service-region'></DIV>
					    <DIV CLASS='field field-service field-service-id'><%= keySub%></DIV>
					    <DIV CLASS='field field-service field-service-gauge'><div id="chart_div_cpu_<%= keySub%>" style="padding-left: 6px"></div></DIV>
					    <DIV CLASS='field field-service field-service-gauge'><div id="chart_div_ram_<%= keySub%>" style="padding-left: 6px"></div></DIV>
					    <DIV CLASS='field field-service field-service-field'><%= valueSub["VHDD Free space"]%></DIV>
					    <DIV CLASS='field field-service field-service-gauge'><div id="chart_div_pro_<%= keySub%>" style="padding-left: 6px"></div></DIV>
				    </DIV>
				  
				    <script type='text/javascript'>
				    
					  google.load('visualization', '1', {packages:['gauge','corechart']});
					  google.setOnLoadCallback(drawChart);
					  function drawChart() {
					    
					    var options = {
					      width: 100, height: 120,
					      redFrom: 90, redTo: 100,
					      yellowFrom:75, yellowTo: 90,
					      minorTicks: 5
					    };
					    
					    var dataCpu = google.visualization.arrayToDataTable([
					      ['Label', 'Value'],
					      ['CPU', <%= valueSub["CPU Load"].chomp('%') %>]
					    ]);
					    
					    var dataRam = google.visualization.arrayToDataTable([
					      ['Label', 'Value'],
					      ['RAM', <%= valueSub["Used RAM Memory"].chomp('%') %>]
					    ]);
					    
					    var dataProcesses = google.visualization.arrayToDataTable([
					      ['Proc', 'Processes'],
					      ['', <%= valueSub["Total Proccess"].to_i%>]
					    ]);
					    
					    var chartCpu = new google.visualization.Gauge(document.getElementById('chart_div_cpu_<%= keySub%>'));
					    chartCpu.draw(dataCpu, options);
					    
					    var chartRam = new google.visualization.Gauge(document.getElementById('chart_div_ram_<%= keySub%>'));
					    chartRam.draw(dataRam, options);
					    
					    var chartColumn = new google.visualization.ColumnChart(document.getElementById('chart_div_pro_<%= keySub%>'));
					    chartColumn.draw(dataProcesses,{width:100, height:95}); 
					  }
					  
				    </script>

				  <%  end
				    end
				  %>
			  </DIV>
			
			<%  end
			   end %>
					  
		</DIV>
      </div>
      
</section>

</article>
</section>
<!--<script>
  //ogni 10 secondi
  setInterval('window.location.reload()', 10000);
</script>-->

