<li class="infographic">
<%= link_to 'Infographic', root_url(subdomain: 'infographic.lab') %>
</li>
<li class="historical">
<!-- <%= link_to 'Historical', root_url(subdomain: 'historical.lab') %> -->
<%= link_to 'Historical', historical_path %>
</li>
<li class="status">
<!-- <%= link_to 'Status', root_url(subdomain: 'status.lab') %> -->
<%= link_to 'Status', status_path %>
</li>
