<!DOCTYPE html>
<head>
    <title><%= FiLabApp.name or "FI-LAB App"%></title>
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no" />

    <link href='http://fonts.googleapis.com/css?family=Share+Tech' rel='stylesheet' type='text/css'>
    
    <%= stylesheet_link_tag    "application" %>
    <%= stylesheet_link_tag    "xifi" %>
    <%= stylesheet_link_tag    "jquery-jvectormap-1.2.2" %>
    
    <%= javascript_include_tag "application" %>
    <%= javascript_include_tag "jquery-jvectormap-1.2.2.min" %>
    <%= javascript_include_tag "jquery-jvectormap-world-mill-en" %>

    <%= yield :headers %>

    <%= favicon_link_tag "icons/favicon.ico" %>

    <% if protect_against_forgery? %>
      <%= csrf_meta_tag %>
    <% end %>

    <script type="text/javascript">
      I18n.defaultLocale = "<%= I18n.default_locale %>";
      I18n.locale = "<%= I18n.locale %>";
    </script>

    <script type="text/javascript">
      $(document).ready(function() {
        <%= yield :javascript %>
      })
    </script>
  </head>

  <body>
    <%= render :partial => "layouts/header" %>
    <div class="wrapper container-fluid">
      <!--<div class="flash"></div>-->
      <%= yield %>
    </div>
    <%= render :partial => "layouts/footer" %>
  </body>
</html>
